@import (reference) "_variables";


// config
@back: @sec-back;
@base: 0.2;
@text: inherit;


// normal
a {
  display: inline-block;
  z-index: 1;
  color: @text;
  text-decoration: none;
  
  // inside paragraph
  p &:not([btn]) {
    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      transform: scale3d(1,@base,1);
      transform-origin: bottom;
      opacity: 0.5;
      background: @back;
    }
    
    // on hover
    &:hover::before { transform: none; }
  }
}
