@import (reference) "_variables";


@ctext: 	inherit;
@cdecor: 	@cpri;


a {
  display: inline-block;
  z-index: 1;
  color: @ctext;
  text-decoration: none;
  
  p &:not([btn]) {
    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      transform: scale3d(1,0.2,1);
      transform-origin: bottom;
      opacity: 0.5;
      background: @cdecor;
    }
    
    &:hover:before { transform: none }
  }
}
