@import (reference) "_variables";


@cborder: @csec;
@cback: #eee;

blockquote {
	margin: 2em 0;
	padding: 1em 2em;
	border-left: 1rem solid @cborder;
	background: @cback;
	font-size: 1.1em;

	&:before {
		content: open-quote;
		font-size: 3em;
		line-height: 0.5;
	}
}
