@import (reference) "_variables";


@norm-color:  @acolor;
@norm-back: #fff;


button, input[type=submit], [btn] {
  
  // normal button styling
  cursor: pointer;
  -webkit-appearance: none;
  display: inline-block;
  margin: 0 0.6em 0.6em 0;
  box-shadow: 0 0 0 rgba(0,0,0,0);
  border: 1px solid @acolor;
  border-radius: 2px;
  padding: 0.9em 1.2em;
  background: @norm-back;
  line-height: 1rem;
  font-size: @fs-s;
  font-weight: 700;
  color: @norm-color;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transform: scale3d(1.2,1.2,1.2);
    opacity: 0;
    background: @acolor;
  }
  
  &:not(:disabled):hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    background: @grey-ultralight;
    
    &:active {
      box-shadow: none;
      transition: none;
    }
  }
  
  // primary button styling
  &[primary] {
    border-color: darken(@acolor, 6%);
    background: @acolor;
    font-weight: 700;
    color: @zcolor;
    
    &:not(:disabled):hover { background: darken(@acolor, 6%)	}
  }
  
  &[round] {
    border-radius: 2.4em;
  }
  
  &[m-full] {
    @media (max-width: @mobile) { width: 100% }
  }
  
  // disabled button styling
  &:disabled,
  &.disabled {
    cursor: default;
    border-color: @grey-light;
    background: @grey-light;
    color: @grey-mid;
  }
}
