@import (reference) "config";


// config
@button-font: @size-s;
@button-text: @def-text;
@button-weight: bold;
@button-back: darken(@def-back, 10%);
@button-line: 1em;
@button-gap: 0.6em;
@button-gapv: @button-gap;
@button-pad: 1.2em;
@button-padv: 1em;
@button-border: @def-text;
@button-border-size: 0.1em;
@button-radius: 0.2em;
@button-shadow: 0 0 0 rgba(0,0,0,0);
@button-hover: initial;
@button-hover-back: @button-back;
@button-hover-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

@primary-border: lighten(@pri-back, 10%);
@primary-back: @pri-back;
@primary-text: @pri-text;
@primary-hover: initial;
@primary-hover-back: lighten(@primary-back, 10%);

@disabled-back: @darken(@def-back, 20%);
@disabled-border: @disabled-back;
@disabled-text: lighten(@def-text, 20%);

@round-radius: 2.4em;


// normal
button, input[type=button], input[type=submit], [btn] {
  cursor: pointer;
  -webkit-appearance: none;
  display: inline-block;
  margin: 0 @button-gap @button-gapv 0;
  box-shadow: @button-shadow;
  border: @button-border-size solid @button-border;
  border-radius: @button-radius;
  padding: @button-padv @button-pad; // @button-padding
  background: @button-back;
  line-height: @button-line;
  font-size: @button-font;
  font-weight: @button-weight;
  color: @button-color;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transform: scale3d(1.2,1.2,1.2);
    opacity: 0;
    background: @pri-back;
  }
  
  &:not(:disabled):hover {
    box-shadow: @button-hover-shadow;
    background: @button-hover-back;
    color: @button-hover;
    
    &:active {
      box-shadow: none;
      transition: none;
    }
  }
  
  // primary
  &[primary] {
    border-color: @primary-border;
    background: @primary-back;
    color: @primary-text;
    
    &:not(:disabled):hover {
      background: @primary-hover-back;
      color: @primary-hover;
    }
  }

  // disabled
  &:disabled, &.disabled {
    cursor: default;
    border-color: @disabled-border;
    background: @disabled-back;
    color: @disabled-text;
  }
  
  // round
  &[round] { border-radius: @round-radius; }
}
