@import (reference) "config";


// config
@footer-text: @sec-text;
@footer-back: @sec-back;
@footer-pad: 2rem;


// sticky footer
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
header, footer {
  flex-shrink: 0;
  background-color: @pri-back;
}
footer {
  padding: @footer-pad;
  background: @footer-back;
  color: @footer-text;
  overflow: hidden;
}
main {
  flex: 1 0 auto;
}
