@import (reference) "_variables";


footer {
	color: @zcolor;
	width: 100%;
	padding: 1.1em;
	overflow: hidden;
	
	&:before {
		content: "";
		background: @acolor;
		width: 102vw;
		height: 100%;
		position: absolute;
		left: 50%;
		top: 0;
		transform: translate(-50%,0);
	}
}
