@import (reference) "_variables";


  // labels
label {
  display: inline-block;
  width: 100%;
  margin-top: 0.6em;
  font-size: @fs-s;
  font-weight: 400;
  text-transform: uppercase;
  
  &:first-child { margin-top: 0 }
}

.mx-input() {
  display: inline-block;
  width: 100%;
  margin-bottom: 1.2em;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid @grey-light;
  padding: 0.3em 0 0.6em;
  background: transparent;
  font-size: @fs-m;
  font-weight: 300;
  
  &:focus,
  &:hover {
    outline: 0;
    border-color: @acolor;
    color: @acolor;
  }
}

  // text fields
input:not([type=radio]):not([type=checkbox]):not([type=button]):not([type=submit]) {
  & { .mx-input }
}

textarea {
  .mx-input;
  
  min-height: 4.8em;
  border-right: 1px solid @grey-light;
  border-bottom-right-radius: 0.3em;
  padding-right: 1.2em;
}


  // select
select {
  cursor: pointer;
  appearance: none;
  display: block;
  width: 100%;
  height: 2.4em;
  border: 1px solid @grey-light;
  border-radius: 2px;
  margin: 0.3em 0 1.2em;
  padding: 0.3em 1.8em 0.3em 0.6em;
  background: #fff data-uri('../icons/chevron-down.svg') no-repeat right 0.6em center;
  background-size: 1.2em;
  font-size: @fs-m;
  font-weight: 300;
  text-indent: 0.3em;
  
  &:focus,
  &:hover {
    outline: 0;
    border-color: @acolor;
  }
}


  // radio and checkboxes
input {
  &[type=radio],
  &[type=checkbox] {
    & {
      cursor: pointer;
      width: 1.2em;
      height: 1.2em;
      z-index: 2;
      opacity: 0;
      margin-right: -1.2em;
      vertical-align: middle;
      
      // note that the label must be placed after the radio or checkbox tag
      + label {
        width: auto;
        text-transform: none;
        
        &:before {
          content: "";
          display: inline-block;
          width: 1.2em;
          height: 1.2em;
          margin-right: 0.6em;
          border: 1px solid @grey-mid;
          background: #fff;
          vertical-align: middle;
        }
        
        &:after {
          content: "";
          pointer-events: none;
          position: absolute;
          top: 4px;
          left: 2px;
          width: 1.1em;
          height: 1.1em;
          transform: scale(0);
          visibility: hidden;
          opacity: 0;
        }
      }
    }
  }
  
  
  // radio
  // eg: <input type="radio" name="radio" id="radio-1"> <label for="radio-1">Select me</label>
  &[type=radio] {
    + label {
      font-size: @fs-m;
      font-weight: 200;
      
      &:before { border-radius: 100% }
    }
    
    &:checked + label {
      &:before {
        border-color: @acolor;
        background: @acolor;
      }
      
      &:after {
        top: 0.3em;
        transform: scale(1);
        visibility: visible;
        opacity: 1;
        border: 1px solid @zcolor;
        border-radius: 100%;
        background: @acolor;
      }
    }
  }
  
  
  // checkbox
  // eg: <input type="checkbox" id="checkbox-1"> <label for="checkbox-1">Check me</label>
  &[type=checkbox] {
    + label {
      font-size: @fs-m;
      font-weight: 200;
      
      &:before { border-radius: 2px }
      
      &:after {
        border-radius: 100%;
        background: data-uri('../icons/done.svg') no-repeat center center;
        background-size: 100%;
      }
    }
    
    &:checked {
      + label {
        &:before {
          border-color: @acolor;
          background: @acolor;
        }
        
        &:after {
          top: 0.3em;
          left: 2px;
          transform: scale(1);
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}
