@import (reference) "_variables";


img {
	height: auto;
	max-width: 100%;
}

section {
	margin: auto;
	padding: 2.2em 1.1em;
	width: 100%;
	max-width: @width;
}

p {
	margin: 0 0 1.1em;
	&:last-child { margin: 0 }
}

hr {
	background: @grey-light;
	border: none;
	width: 100%;
	height: 2px;
	margin: 2.2em 0;
}
