@import (reference) "config";


// config
@list-padl: @pad-s;
@list-marginb: @margin-s;
@list-line: 2.5;
@ul-style1: disc;
@ul-style2: circle;
@ol-style1: decimal;
@ol-style2: lower-alpha;


ul, ol {
  margin: 0 0 @list-marginb;
  padding-left: @list-padl;
  line-height: @list-line;
  ul, ol { margin-bottom: 0 }
}

ul {
  list-style: @ul-style1;
  ul { list-style: @ul-style2; }
}

ol {
  list-style: @ol-style1;
  ol { list-style: @ol-style2; }
}
