@import (reference) "_variables";


ul, ol {
	& {
		margin: 0 0 1em;
		padding-left: 1em;
		ul, ol { margin-bottom: 0 }
	}
}

ul {
	list-style: disc;
	ul { list-style: circle }
}

ol {
	list-style: decimal;
	ol { list-style: lower-alpha }
}
