@import (reference) "_variables";


// config
@nav-hgap: 2rem;
@nav-back: @pri-back;
@nav-text: @pri-text;
@nav-font: 1rem;
@nav-height: 5rem;

@logo-size:  1em;
@logo-hgap:  0.5em;
@title-font: 1.5em;

@menu-font: 1em;
@menu-gap: 1em;
@menu-bsize: 4px;
@menu-hover: @sec-back;

@dd-back: darken(@nav-back, 20%);
@dd-font:   1rem;
@dd-border: @grey-light;
@menu-border: @grey-light;
@dd-shadow: @box-shadow;
@ul-shadow: @box-shadow;
@dd-hborder: lighten(@def-text, 10%);
@dd-hback: darken(@def-back, 10%);


nav {
  z-index: 10;
  width: 100%;
  padding: 0 @nav-hgap;
  background: @nav-back; // ?
  font-size: @nav-font;
  color: @nav-text; // ?
  
  // fixed
  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
  }
  
  // container
  label {
    display: block;
    > input { display: none }
  }
  
  // menu
  ul {
    margin: 0;
    line-height: @nav-height;
    text-align: right;
        
    li {
      display: inline-block;
      font-size: @menu-font;
    }
    
    // menu -> dropdown open
    @media (min-width: (@mobile + .1)) {
      li:hover menu, menu:hover {
        pointer-events: auto;
        transform: translate3d(0,0,0);
        visibility: visible;
        opacity: 1;
      }
    }
    
    // menu item
    a {
      cursor: pointer;
      display: block;
      border-bottom: @menu-bsize solid transparent;
      padding: 0 @menu-gap;
      font-weight: normal;
      text-decoration: none;
      text-transform: none;
      
      // menu with dropdown
      @media (min-width: (@mobile + .1)) {
        &:not(:only-child) {
          padding-right: 2em;
          background-image: data-uri('../icons/chevron-down.svg');
          background-repeat: no-repeat;
          background-position: right center;
          background-size: 1em;
        }
      }
      
      // on menu hover
      &:hover {
        border-color: @menu-hover;
        color: @menu-hover;
      }
    }
  }
  
  // drop down
  menu {
    min-width: 100%;
    z-index: 2;
    margin: 0;
    padding: 0;
    background: @dd-back;
    white-space: nowrap;
    text-align: left;
    line-height: 1em;
    
    @media (min-width: (@mobile + .1)) {
      pointer-events: none;
      position: absolute;
      top: 100%;
      left: 0;
      transform: translate3d(0,-2em,0);
      visibility: hidden;
      opacity: 0;
      box-shadow: @dd-shadow;
    }
    
    // drop down item
    menuitem {
      display: block;
      border-left: 4px solid transparent;
      
      &:hover {
        border-color: @dd-hborder;
        background-color: @dd-hback;
        a { transform: translate3d(0.5em,0,0) }
      }
      
      a {
        border: none;
        padding: 0.5em 1.5em;
        font-size: @dd-font;
      }
    }
  }
  
  header {
    // hamburger, close menu
    &::before, &::after {
      content: '';
      display: none;
      position: absolute;
      top: 0;
      right: 1rem;
      width: @nav-height;
      height: @nav-height;
      background-position: center;
      background-repeat: no-repeat;
    }
    
    // hamburger
    &::before {
      background-image: data-uri('../icons/hamburger.svg');
    }
    
    // close
    &::after {
      transform: rotate(180deg);
      opacity: 0;
      background-image: data-uri('../icons/close.svg');
    }
    
    // title
    a {
      position: absolute;
      top: 0;
      left: 0;
      font-size: @title-font;
      line-height: @nav-height;
      text-decoration: none;
      padding-left: 1em;
      
      // logo
      img {
        top: -2px;
        height: @logo-size;
        margin-right: @logo-hgap;
        vertical-align: middle;
      }
    }
  }
}

// mobile view
@media (max-width: @mobile) {
  
  // page gap for nav
  body {
    padding-top: @nav-height;
  }
  
  // fixed nav
  nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    
    header {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      &:before, &:after { display: block }
    }
    
    label {
      height: @nav-height;
      
      // hides the nav off screen
      > ul {
        position: fixed;
        top: @nav-height;
        bottom: 0;
        right: 0;
        transform: translate3d(100%,0,0);
        box-shadow: @ul-shadow;
        border-top: 1px solid @pri-back;
        padding: 0;
        background: @dd-back;
        overflow-x: visible;
        overflow-y: auto;
        text-align: left;
        li {
          display: block;
          border-top: 1px solid @menu-border;
        }
        a {
          border: none;
          padding: 1em 3em;
        }
      }
      
      input {
        &:checked {
          //show nav
          ~ ul { transform: none; }
          // hide hamburger
          ~ header {
            &::before {
              transform: rotate(-180deg);
              opacity: 0;
            }
            // hide close
            &::after {
              transform: none;
              opacity: 1;
            }
          }
        }
      }
      // dropdown
      menu {
        menuitem { border-color: @dd-border;	}
        a { padding-left: 4em;	}
      }
    }
  }
}
