@import (inline) "https://necolas.github.io/normalize.css/8.0.1/normalize.css";

*, *:before, *:after {
  box-sizing: inherit;
  position: relative;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 10px;
  line-height: 1.8;
}

@media @mobilen { body { overflow-x: hidden; } }
:focus, :active, :hover { outline: 0; }
