@import (reference) "config";


// config
@table-space: 1.1em;
@th-back:  @def-back;
@th-hover: darken(@def-back, 10%);
@th-text:  @def-text;
@tr-border: darken(@def-back, 15%);
@tr-border-size: 0.2em;
@tr-hover:  darken(@def-back, 10%);
@tr-padv: 0.8em;
@td-border-size: 0.1em;

table {
  width: 100%;
  margin-bottom: @table-space;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  overflow: hidden;
  
  th, td {
    border-bottom: @tr-border-size solid @tr-border;
    padding: @tr-padv;
  }
  
	th {
		&::before {
			content: "";
			width: 100%;
			height: 10000%;
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			background: @th-hover;
			z-index: -1;
			opacity: 0;
			visibility: hidden;
		}
		
		&:hover::before {
			opacity: 1;
			visibility: visible;
		}
	}
  
  td { border-bottom-width: @td-border-size; }

  tbody > tr:hover { background: @tr-hover; }
}
