@import (reference) "_variables";


// config
@th-back:  @def-back;
@th-hover: darken(@def-back, 10%);
@th-text:  @def-text;
@tr-border: darken(@def-back, 15%);
@tr-hover:  darken(@def-back, 10%);


table {
  width: 100%;
  margin-bottom: 1.1em;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  overflow: hidden;
  
  th, td {
    border-bottom: 2px solid @tr-border;
    padding: 0.8em;
  }
  
	th {
		&::before {
			content: "";
			width: 100%;
			height: 10000%;
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			background: @th-hover;
			z-index: -1;
			opacity: 0;
			visibility: hidden;
		}
		
		&:hover::before {
			opacity: 1;
			visibility: visible;
		}
	}
  
  td { border-bottom-width: 1px }

  tbody > tr:hover { background: @tr-hover; }
}
