@import (reference) "_variables";


// config
@tag-font: 0.8em;
@tag-back: .twinkle(@def-back, 10%)[x];
@tag-border: .twinkle(@def-back, 15%)[x];


tag {
  // default
  display: inline-block;
  margin: 0 0.3em 0.3em 0;
  border-bottom: 1px solid @tag-border;
  border-radius: 0.6em;
  padding: 0.1em 0.7em;
  background: @tag-back;
  font-size: @tag-font;
}
