@import (reference) "config";


// config
@tag-font: 0.8em;
@tag-back: .twinkle(@def-back, 10%)[x];
@tag-borderc: .twinkle(@def-back, 15%)[x];
@tag-borderb: @border-s / 2;
@tag-radius: 3 * @radius-s;
@tag-marginr: 0.3 * @margin-s;
@tag-marginb: @tag-marginr;
@tag-padh: 0.7 * @pad-s;
@tag-padv: 0.1 * @pad-s;


tag {
  // default
  display: inline-block;
  margin: 0 @tag-marginr @tag-marginb 0;
  border-bottom: @tag-borderb solid @tag-borderc;
  border-radius: @tag-radius;
  padding: @tag-padv @tag-padh;
  background: @tag-back;
  font-size: @tag-font;
}
