@import (reference) "_variables";


// config
@tt-back: @def-text;
@tt-font: sans-serif;
@tt-size: 1rem;
@tt-text: @def-back;


// tooltip
// BUG: on <code> it is larger, but why?
[tt], [dtt]:disabled {
  // default
  &::after {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2;
    transform: translate(-50%,-95%);
    visibility: hidden;
    opacity: 0;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    background: @tt-back;
    font: normal @tt-size @tt-font;
    color: @tt-text;
    text-transform: none;
    white-space: nowrap;
  }
  
  // on hover
  &:hover::after {
    transform: translate(-50%,~"calc(-100% - 5px)");
    visibility: visible;
    opacity: 0.9;
  }
}


// sets the content for tooltip
// eg: <span tt="This is a tooltip"></span>
[tt]::after { content: attr(tt); }

// sets the content for disabled tooltips
// can be used in conjunction with title
// eg: <button disabled dtt="This button is disabled"></button>
[dtt]:disabled::after { content: attr(dtt); }
