@import (reference) "_variables";


// config
@selection-back: @sec-back;
@selection-text: @sec-text;


// body
body {
  background: @def-back;
  line-height: 1.8;
  color: @def-text;
}
.sec, [sec], [secondary] {
  background: @sec-back;
  color: @sec-text;
}
.pri, [pri], [primary] {
  background: @pri-back;
  color: @pri-text;
}

// headings
h1, h2, h3, h4, h5, h6 { margin: 0 0 2em; font-weight: bold; }
h1, h3, h5 { text-transform: uppercase; }
h1, h2 { font-size: 3em; line-height: 1.0; }
h3, h4 { font-size: 2em; line-height: 1.2; }
h5, h6 { font-size: 1em; line-height: 1.4; }


// text
html, body, input, textarea, select, button {
  font-family: 'Righteous', 'Ubuntu', 'Open Sans', 'Lato', 'Raleway',
    "Trebuchet MS", Tahoma, Helvetica, sans-serif;
}


// text selection
::selection {
  background-color: @selection-back;
  color: @selection-text;
}
