@import (reference) "config";


// display
.wide    { width: 100% }

// fonts
.z, .xx-large { font-size: 2em / 1; }
.y, .x-large  { font-size: 2em / 1; }
.x, .large    { font-size: 5em / 4; }
.w, .small    { font-size: 4em / 5; }
.v, .x-small  { font-size: 1em / 2; }
.u, .xx-small { font-size: 1em / 2; }

// text alignment
.tl, .left    { text-align: left; }
.tr, .right   { text-align: right; }
.tc, .center  { text-align: center; }
.tj, .justify { text-align: justify; }
