@import (reference) "config";


// margin
.wide { width: 100%; margin-left: 0; margin-right: 0; }
.narrow { margin: auto; } 

// size
.xs, .x-small { font-size: @size-xs; }
.s,  .small   { font-size: @size-s; }
.l,  .large   { font-size: @size-l; }
.xl, .x-large { font-size: @size-xl; }

// text alignment
.tl, .left    { text-align: left; }
.tr, .right   { text-align: right; }
.tc, .center  { text-align: center; }
.tj, .justify { text-align: justify; }
