// font sizes
@fs-xs:   1 * 1.1rem;
@fs-s:    1 * 1.2rem;
@fs-m:    1 * 1.4rem;
@fs-l:    1 * 1.6rem;
@fs-xl:   1 * 2.4rem;
@fs-xxl:  1 * 3rem;
@fs-xxxl: 1 * 4rem;

// base colors
@pri-back: yellow;
@pri-text: black;
@sec-back: lightgreen;
@sec-text: black;
@def-back: white;
@def-text: black;


// set overall temperature with hue and intensity with saturation
@hue: 200;
@sat: 10%;


// blacks and greys inherit colour temperature of hue and saturation
@black:				    hsl(@hue,@sat,20%);
@grey-ultralight:	hsl(@hue,@sat,96%);
@grey-light:		  hsl(@hue,@sat,90%);
@grey-mid:			  hsl(@hue,@sat,70%);
@grey-dark:			  hsl(@hue,@sat,50%);
@grey-ultradark:	hsl(@hue,@sat,30%);


// shadows
@box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);


// widths
@width:  60rem;
@mobile: 50rem;


// lighten or darken color by a precent
.twinkle(@color, @percent) {
  x: if(luma(@color) < 50%, lighten(@color, @percent), darken(@color, @percent));
}
